SECRET_KEY=somcoffe-pos-secret-key-2026
DATABASE_URL=sqlite:///somcoffe.db

# Gmail SMTP Configuration
# 1. Sahal u dhig "2-Step Verification" Gmail-kaaga
# 2. Sameyso "App Password" halkan: https://myaccount.google.com/apppasswords
MAIL_USERNAME=raystchcenter@gmail.com
MAIL_PASSWORD=your_app_password_here
